.about__text-inner {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 50px;
}
.corporate-culture__inner {
    gap: 30px;
    align-items: flex-start;
}
.our-wealth {
    width: calc(50% - 15px);
    padding: 60px 60px;
    background: var(--main-color);
    border-radius: 40px;
}
.our-wealth__title {
    color: white;
    margin-bottom: 30px;
}
.our-base {
    width: calc(50% - 15px);
    padding: 60px 60px;
    background: #1D1D1D;
    border-radius: 40px;
}
.our-base__title {
    color: white;
    margin-bottom: 30px;
}
.corporate-culture .accordion {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.corporate-culture .accordion__item {
    border-radius: 32px;
    overflow: hidden;
}
.corporate-culture .accordion__button {
    padding: 12px 24px 12px 32px;
    font-weight: bold;
    border: none;
}
.corporate-culture .accordion__collapse-body {
    padding: 8px 24px 32px 36px;
}
.corporate-culture .accordion__button-icon {
    color: #1D1D1D;
}
.corporate-culture .accordion__button--active .accordion__button-icon {
    transform: rotate(90deg);
}
.slogan__inner {
    padding-top: 70px;
    padding-bottom: 80px;
}
.slogan__text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 50px;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    border: 2px solid #D0D8DE;
    border-radius: 40px;
}